doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  body
    nav.nav
      div.nav-left
        a.nav-item.is-brand(href='/')
          img(src='/images/lobster.png')
          h5.title.is-5 SETUP LOBSTER
      div.nav-center
        a.nav-item(href='#')
          span.icon
            i.fa.fa-github
        a.nav-item(href='#')
          span.icon
            i.fa.fa-twitter
      div.nav-right.nav-menu
        a.nav-item(href='#') Home
        a.nav-item(href='#') Documentation
        a.nav-item(href='#') Blog
        span.nav-item
          a.button
            span.icon
              i.fa.fa-ban
            span LogOut
          a.button.is-primary(href='#')
            span.icon
              i.fa.fa-download
            span Login
            
    block content
  
  footer.footer
    div.container
      div.content.has-text-centered
        p
          strong Bulma
          span by
          span
            a(href='http://jgthms.com') Jeremy Thomas
          span The source code is licensed
          span
            a(href='http://opensource.org/licenses/mit-license.php') MIT.
          span The website content is licensed
          a(href="http://creativecommons.org/licenses/by-nc-sa/4.0/") CC ANS 4.0
        p
          a.icon(href='https://github.com/jgthms/bulma')
            i.fa.fa-github