extends layout-setup

block content
    if(status === 'Success')
        section.hero.is-primary
            div.hero-body
                div.container
                    h1.title #{title} (#{status})
                    h2.subtitle #{subtitle}
    else if(status === 'Failed')
         sectoin.hero.is-danger
            div.hero-body
                div.container
                    h1.title #{title} (#{status})
                    h2.subtitle #{subtitle}
    else
        section.hero.is-info
            div.hero-body
                div.container
                    h1.title #{title} (#{status})
                    h2.subtitle #{subtitle}
    section.section
        if(nextStep === 'step-1')
            div.container
              div.heading
                div.columns
                  div.column &nbsp;
                  div.column
                    img(src='/images/lobster.png')
                  div.column &nbsp;
                h1.title Resultat
                h2.subtitle
              span #{description}
        else if(nextStep === 'step-2')
            div.container
              div.heading
                div.columns
                  div.column &nbsp;
                  div.column
                    img(src='/images/lobster.png')
                  div.column #{description}
                div.box
                  if(status !== 'In-process')
                      span #{description}
                  else
                      form#hostForm(name='hostForm', method='POST')
                          label.label(for='serverPort') Порт сервера:
                          p.control
                              input.input#serverPort(type='text', placeholder='3000', name='serverPort',required)
                          label.label(for='serverAddress') IP сервера
                          p.control
                              input.input(type='text', palceholder='localhost', name='serverAddress', required)
                          p.control
                              button.button.is-primary Save settigs
        else if(nextStep === 'step-3')
            div.conteiner
              div.heading
                div.columns
                  div.column &nbsp;
                  div.column
                    img(src='/images/lobster.png')
                  div.column &nbsp;
                div.box
                  if(status !== 'In-process')
                      span #{description}
                  else
                      form#mongoForm(name='mongoForm', method='POST')
                         h3.title.is-3 Настройка хоста MongoDB
                         label.label(for='mongoHost') Хост БД
                         p.control
                             input.input#mongoHost(type='text', placeholder='localhost', name='mongoHost')
                         label.label(for='mongoPort') Порт БД
                         p.control
                             input.input#mongoPort(type='text', placeholder='27017', name='mongoPort')
                         h3.title.is-3 Настройка учетной записи MongoDB
                         label.label(for='adminLogin') Логин админстратора БД
                         p.control
                             input.input#adminLogin(type='text', placeholder='admin', name='adminLogin')
                         label.label(for='adminPassword') Пароль администратора БД 
                         p.control
                             input.input#adminPassword(type='password', placeholder='pass', name='adminPassword')
                         label.label(for='adminPasswordRepeat') Повториет пароль
                         p.control
                             input.input#adminPasswordRepeat(type='password', placeholder='pass', name='adminPasswordRepeat')
        else
          div.conteiner
            div.heading
              div.columns
                div.column &nbsp;
                div.column
                  img(src='/images/lobster.png')
                div.column &nbsp;
              div.box
                span #{description}
    section.section
      div.conteiner
        if(status === 'Success')
          if(nextStep !== 'end')
              a.button.is-large.is-success.is-fullwidth(href='/setup/'+nextStep+'') Next step
